<body style="font-family: Arial, Helvetica, sans-serif;">
    <div id="email" style="width:600px; margin: 0 auto;">
        <!-- Header --> 
        <table role="presentation" border="0" cellspacing="0" width="100%">
            <tr>
                <td bgcolor="#173a64" align="center">
                    <img alt="fortis logo" src="https://i.imgur.com/0UWyef3.png" width="600px"/>
                </td>
            </tr>
        </table>
        
        <!-- Body --> 
        <table role="presentation" border="0" cellspacing="0" width="100%">
            <tr>
                <td style="padding: 30px 30px 30px 60px;">
                    <p>Hi <%= recipient %>,</p>
                    <p><%= event_msg %></p>
                    <div style="text-align: center;">
                        <a href="<%=pia_url%>" style="color: #173a64">
                            <button style="background-color: #ffc82c; padding: 10px;">Click to view</button>
                        </a>
                    </div>
                </td> 
            </tr>
        </table>
        
        <!-- Footer -->
        <table role="presentation" border="0" cellspacing="0" width="100%">
            <tr>
                <td bgcolor="#173a64" align="center"> 
                    <img alt="email footer" src="https://i.imgur.com/6JRyKGw.png" width="600px"/>
                </td>
            </tr>
        </table> 
    </div>
</body>
