<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DemoPdf</title>
</head>
<body>
<div style="width: 100%; background-color: #004d99; height: 100px;" className="header">
    <img src="http://4.bp.blogspot.com/-OC-fQgj_P4Q/TWVl6czjOJI/AAAAAAAAAVk/j7yzHTs4Byw/s1600/FortisBC%2Blogo.png" style="margin-left: 20%; margin-right: auto; width: 50%;" />
</div>
<div>
    <h1 style="text-align: center;">Personal Information Assessment</h1>
    <hr style="width: 80%; color: rgb(255, 230, 7); border-color: rgb(255, 230, 7);" />
    <p style="text-align: right; margin-right: 10vw;"> <strong>Date Created:</strong> <%= date %></p>
</div>
<div style="width: 90%; margin-left: 5%;">
    <p><b>Project Name</b>
        <%= projectName %>
    </p>
    <p><b>Sponsoring Business Unit:</b> <%= Sponsoring_business_unit %></p>
    <p><b>Is it necessary for the purpose of the project that personal information be collected, used or disclosed?
        </b>
        Yes</p>
    <p><b>If yes, what personal information will be collected, used or disclosed?</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum leo nec eg
        estas luctus. Cras id viverra turpis, auctor bibendum elit. Donec risus enim, laore
        et sit amet tempor a, bibendum id ante. Vestibulum sollicitudin nibh eget est lao
        reet dictum. In arcu nisl, sollicitudin vitae purus sed, porta aliquam tortor. Susp
        endisse vulputate dui id laoreet mattis.
    </p>
</div>
</body>
</html>
